@import "base/variables"
@import "utils/functions"
@import "utils/mixins"

if $normalize == "yes" or $normalize == true
    @import "../node_modules/normalize.css/normalize.css"

@import "base/reset"

.row
    display: flex
    flex-wrap: wrap
    margin-bottom: $grid-gutter-width
    margin-left: -($grid-gutter-width)
    margin-right: -($grid-gutter-width)

    if $debug-mode == "on"
        border: 1px solid red

.col
    flex: 1 1 0%
    padding: $grid-gutter-width
    if $debug-mode == "on"
        border: 1px solid darken(green, 10%)
        background-color: green
        &:before
            content: "auto"

for $r in (1..$grid-columns)
    .row--{$r}
        > .col
            flex-basis: percentage(1/$r)

            if $debug-mode == "on"
                &:before
                    content: "" + $r

    .col--{$r}
        flex-basis: percentage(1/$r)

        if $debug-mode == "on"
            &:before
                content: "" + $r

for $key, $value in $breakpoints
    @media screen and (max-width: $value)
        if $key is "md"
            .row
                flex-direction: column

            .col
                flex-basis: 100%

