// Want to use Normalize? Say "yay" or "nay"!
// or just use the good ol' "true" or "false"....
$normalize = "nay"

// Want to use SFGS reset styles? Say "yay" or "nay"!
// or just use the good ol' "true" or "false"....
$sfgs-reset = "yay"

// Set debug mode "on" or "off" to highlight border on both rows and columns
$debug-mode = "on"

// Default font size
$base-font-size = 16

// Grid variables
$grid-columns = 12
$grid-gutter-width = 20px
$grid-max-width = 960px

// Breakpoints
$breakpoints = {
    sm:     0,
    md:     640px,
    lg:     1200px,
    xlg:    1440px,
    xxlg:   1920px
}
