@import "config"
@import "functions"
@import "mixins/*"

if $normalize is "yay" or $normalize is true
    @import "../node_modules/normalize.css/normalize.css"

if $sfgs-reset is "yay" or $sfgs-reset is true
    html
      box-sizing: border-box

    *,
    *:before,
    *:after
      box-sizing: inherit

    body
        margin: 0
        margin-left: auto
        margin-right: auto
        max-width: $grid-max-width
        padding: 0
        padding-left: $grid-gutter-width
        padding-right: $grid-gutter-width

// Row styles
.row
    display: flex
    flex-direction: column
    flex-wrap: wrap
    +m-breakpoint(md)
        flex-direction: row

    if $debug-mode is "on"
        border: 1px solid red

.row--row
    flex-direction: row

.row--center-v
    align-items: center

.row--center-h
    margin-left: auto
    margin-right: auto

// Columns styles
.col
    flex: 1 1 auto
    padding: $grid-gutter-width
    position: relative
    +m-breakpoint(md)
        flex-basis: 0%
    .row
        .col
            padding-bottom: 0
            padding-top: 0

    if $debug-mode is "on"
        border: 1px solid darken(green, 10%)
        background-color: green
        &:before
            content: "auto"

.col--text-right
    text-align: right

.col--text-center
    text-align: center

.col--align-center
    margin-left: auto
    margin-right: auto

.col--no-padding
    padding: 0

.col--align-bottom
    align-self: flex-end

.col--0
    flex: 0

for $key, $value in $breakpoints
    for $r in (1..$grid-columns)
        @media screen and (min-width: $value)
            .{$key}-{$r}
                flex-basis: percentage($r/$grid-columns)
                max-width: percentage($r/$grid-columns)

                if $debug-mode is "on"
                    &:before
                        content: "" + $r

            .{$key}-o-{$r}
                order: $r
